/*
<><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><>
<>
<>          SECCION DE REDES SOCIALES Y CONTACTO. HASTA ARRIBA
<>
<><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><>
*/
.navbar_contenedor
{
    display: flex;
    height: 10vh;
    width: 100%;
    background-color: #60866D;
    justify-content: flex-start;
    align-items: center;
}

.navbar_item
{
    height: 6vh;
    object-fit: contain;
    padding: 1%;
}

.special_navbar_item
{
    height: 7vh;
    object-fit: contain;
    padding: 1%;
}

.special_navbar_item:hover::after
{
    content:attr(data-legend);
    color: white;
}

.special_navbar_item img
{
    height: 6vh;
}

.special_navbar_item:hover img
{
    height: 3vh;
}

