/*
<><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><>
<>
<>          SECCION DE REDES SOCIALES Y CONTACTO. HASTA ARRIBA
<>
<><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><>
*/
.navbar_contenedor
{
    display: flex;
    height: 10vh;
    width: 100%;
    background-color: #60866D;
    justify-content: flex-start;
    align-items: center;
}

.navbar_item
{
    height: 6vh;
    object-fit: contain;
    padding: 1%;
}

.special_navbar_item
{
    height: 7vh;
    object-fit: contain;
    padding: 1%;
}

.special_navbar_item:hover::after
{
    content:attr(data-legend);
    color: white;
}

.special_navbar_item img
{
    height: 6vh;
}

.special_navbar_item:hover img
{
    height: 3vh;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

/*<><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><>*/


/*
<><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><>
<>
<>         Contenedor del Logo UAEMEX e Imágen 
<>
<><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><>*/

.contenedor_logo
{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: flex-start;
    height: 14vh;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contenedor_logo_item
{
    object-fit: contain;
    padding-left: 5%;
    height: inherit;
}




/*<><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><><>*/